.start-date {
    display: block !important;
}
.end-date {
    display: block !important;
}
.hidden-class{
    display: none;
}
#myNavbar{
    min-width: 250px;
}
@media(max-width:767px){
    #timeRange{
        position: absolute;
        top: 115px;
        right:10px;
    }
    .form-group{
        width: 45%;
        margin-left: 5px;
        float: left;
    }
}